<div class="container mt-5">
  <div class="d-flex justify-content-start mb-3">
    <button class="btn btn-outline-secondary" [routerLink]="['/']">
      ← 
    </button>
  </div>

  <h2>Cadastro de Produto</h2>

  <div class="mb-3">
    <label class="form-label">Código do Fabricante:</label>
    <input type="text" class="form-control" [(ngModel)]="produto.codigoFabricante" name="codigoFabricante" />
  </div>

  <div class="mb-3">
    <label class="form-label">Marca:</label>
    <input type="text" class="form-control" [(ngModel)]="produto.marca" name="marca" />
  </div>

  <div class="mb-3">
    <label class="form-label">Localização:</label>
    <input type="text" class="form-control" [(ngModel)]="produto.localizacao" name="localizacao" />
  </div>

  <div class="mb-3">
    <label class="form-label">Garantia (meses):</label>
    <input type="number" class="form-control" [(ngModel)]="produto.garantiaMeses" name="garantiaMeses" />
  </div>

  <div class="mb-3">
    <label class="form-label">Nome:</label>
    <input type="text" class="form-control" [(ngModel)]="produto.nome" name="nome" />
  </div>

  <div class="mb-3">
    <label class="form-label">Descrição:</label>
    <textarea class="form-control" [(ngModel)]="produto.descricao" name="descricao" rows="3"></textarea>
  </div>

  <div class="mb-3">
    <label class="form-label">Valor Unitário:</label>
    <input type="number" class="form-control" [(ngModel)]="produto.valorUnitario" name="valorUnitario" />
  </div>

  <div class="mb-3">
    <label class="form-label">Quantidade:</label>
    <input type="number" class="form-control" [(ngModel)]="produto.quantidade" name="quantidade" />
  </div>

  <button class="btn btn-primary me-2" (click)="adicionarProduto()">Cadastrar</button>
  <button class="btn btn-secondary" (click)="limparCampos()">Limpar</button>
</div>
