.titulo-produtos {
  font-size: 1.6rem;
  font-weight: 500;
  color: #333;
  margin-bottom: 0.5rem;
}

.header-bar {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
}

.search-input {
  max-width: 1105px;
  width: 100%;
}

.input-group-text {
  background-color: #e6e6e6;
  border: 1px solid #ccc;
}

.table {
  font-size: 1rem;
  width: 100%;
}

.table th,
.table td {
  vertical-align: middle;
  text-align: center;
  padding: 0.5rem 0.75rem;
}

.table thead th {
  text-transform: uppercase;
  color: rgb(148, 148, 148);
  border-bottom: 2px solid #ddd;
}

.no-products-text {
  color: #888;
  font-style: italic;
}

/* Botões gerais */
.btn-outline-primary,
.btn-secondary,
.btn-primary {
  font-size: 1rem;
  font-weight: bold;
  border-radius: 30px;
  padding: 8px 20px;
  text-transform: uppercase;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
  border-width: 1.5px;
}
/* Remove efeito azul/contorno feio */
.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none !important;
}

/* Foco customizado só para teclado (acessibilidade) */
.btn:focus-visible {
  outline: 2px solid #059b4e;
  outline-offset: 2px;
}

/* Botão Ordenar */
.btn-ordenar {
  background-color: #c0c0c0;
  color: #fff;
  border-color: #c0c0c0;
}

.btn-ordenar:hover,
.btn-ordenar:focus,
.btn-ordenar:active {
  background-color: #5a5a5a;
  color: #fff;
  outline: none;
  box-shadow: none;
}

/* Botão + Produto */
.btn-novo-produto {
  background-color: #7eec59;
  color: #fff;
  border-color: #7eec59;
}

.btn-novo-produto:hover {
  background-color: #059b4e;
  color: #fff;
}

.btn-novo-produto:focus,
.btn-novo-produto:active {
  outline: none !important;
  box-shadow: none !important;
  background-color: #059b4e !important;
  color: #fff !important;
}

/* Botão detalhes ícone */
.btn-icone-detalhes {
  border: none !important;
  background: transparent !important;
  color: inherit;
  padding: 0.25rem 0.5rem;
  font-size: 1.1rem;
}

.btn-icone-detalhes:hover {
  background-color: transparent !important;
  color: #000;
  cursor: pointer;
  box-shadow: none !important;
}

/* Botão com contorno */
.btn-outline-primary {
  border-color: #000000;
  color: #333;
}

.btn-outline-primary:hover {
  background-color: #f0f0f0;
  color: #000;
}

/* Container para os botões */
.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  gap: 1rem;
  flex-wrap: wrap; /* responsivo */
}
