<div class="container mt-4">
  <div class="header-bar">
    <div class="input-group search-input">
      <input 
        #searchInput
        type="text" 
        class="form-control" 
        placeholder="Pesquisar aqui..." 
        [value]="searchTerm()"
        (input)="onSearchChange(searchInput.value)" 
      />
      <span class="input-group-text">
        <i class="bi bi-search"></i>
      </span>
    </div>
  </div>

  <div class="btn-container">
    <button class="btn btn-secondary btn-ordenar" (click)="loadSortedProducts()">Ordenar</button>
    <button class="btn btn-primary btn-novo-produto" (click)="goToRegistration()">+ Produto</button>
  </div>

  <table class="table table-striped mt-2" *ngIf="filteredProducts().length > 0; else noProducts">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Marca</th>
        <th>Quantidade</th>
        <th>Valor Unitário</th>
        <th>Detalhes</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of filteredProducts()">
        <td>{{ product.name }}</td>
        <td>{{ product.brand }}</td>
        <td>{{ product.quantity }}</td>
        <td>{{ product.unitPrice | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}</td>
        <td>
          <button class="btn btn-outline-primary btn-sm btn-icone-detalhes" (click)="viewDetails(product)">
            <i class="bi bi-info-circle"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <ng-template #noProducts>
    <div class="text-center mt-5">
      <p class="no-products-text">Nenhum produto cadastrado</p>
    </div>
  </ng-template>
</div>
