.product-form {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  max-width: 900px;
  margin: 0 auto;
}

.product-form h3 {
  font-size: 1.8rem;
  font-weight: bold;
}

.product-form label {
  font-weight: 500;
}

.product-form input,
.product-form textarea {
  border-radius: 8px;
}

.product-form button {
  min-width: 100px;
  font-weight: bold;
  border-radius: 50px;
}
