<div class="container mt-5" *ngIf="produto">
  <div class="formulario-produto mx-auto">
    <h3 class="text-center mb-4">Informações Gerais do Produto</h3>
    <form (ngSubmit)="salvar()">
      <div class="row g-3">
        <div class="col-md-6">
          <label>Marca</label>
          <input type="text" class="form-control" [readonly]="!modoEdicao" [(ngModel)]="produto.marca" name="marca" />
        </div>
        <div class="col-md-6">
          <label>Nome</label>
          <input type="text" class="form-control" [readonly]="!modoEdicao" [(ngModel)]="produto.nome" name="nome" />
        </div>
        <div class="col-md-6">
          <label>Descrição</label>
          <textarea class="form-control" [readonly]="!modoEdicao" [(ngModel)]="produto.descricao" name="descricao"></textarea>
        </div>
        <div class="col-md-6">
          <label>Código do Fabricante</label>
          <input type="text" class="form-control" [readonly]="!modoEdicao" [(ngModel)]="produto.codigoFabricante" name="codigoFabricante" />
        </div>
        <div class="col-md-6">
          <label>Garantia (meses)</label>
          <input type="number" class="form-control" [readonly]="!modoEdicao" [(ngModel)]="produto.garantiaMeses" name="garantiaMeses" />
        </div>
        <div class="col-md-6">
          <label>Localização</label>
          <input type="text" class="form-control" [readonly]="!modoEdicao" [(ngModel)]="produto.localizacao" name="localizacao" />
        </div>
      </div>

      <div class="d-flex justify-content-between align-items-center mt-4 flex-wrap">
        <button type="button" class="btn custom-btn" (click)="voltar()">Voltar</button>

        <div *ngIf="!modoEdicao">
          <button type="button" class="btn custom-btn" (click)="editar()">Editar</button>
        </div>
        <div *ngIf="modoEdicao">
          <button type="submit" class="btn custom-btn">Confirmar</button>
        </div>
      </div>
    </form>
  </div>
</div>
