<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <!-- Marca no canto esquerdo -->
    <a class="navbar-brand d-flex align-items-center" routerLink="/menu">
      <i class="bi bi-box-seam icon-brand"></i>
      <span class="brand-text">Inventarium</span>
    </a>

    <!-- Botão toggler para mobile -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu"
      aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menu centralizado -->
    <div class="collapse navbar-collapse justify-content-center" id="navbarMenu">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center" routerLink="/products" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <i class="bi bi-list-ul icon-menu"></i><span>Lista de Produtos</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center" routerLink="/product-registration" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <i class="bi bi-plus-circle icon-menu"></i><span>Cadastro Produto</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center" routerLink="/transaction" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <i class="bi bi-arrow-left-right icon-menu"></i><span>Transação</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center" routerLink="/transactions" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <i class="bi bi-clock-history icon-menu"></i><span>Histórico</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
